@import '../../../styles.scss';

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $light-yellow;
  color: white;
  font-weight: 600;
}